html,body,#root,.App {
  height: 100%;
}

.App {
  background-color: #ba9;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  flex: 1;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.MoleHole {
  flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
