.GameBoard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MoleRow {
  display: flex;
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.MoleRow:first-child {
  margin-top: 5px;
}

.MoleRow:last-child {
  margin-bottom: 5px;
}