.MoleHole {
  flex: 1;
  flex-grow: 1;
  background-color: #222;
  color: white;
  margin: 5px;
}

.MoleHole.withMole {
  background-color: #444;
  background-image: URL('/mole_white.svg');
  background-size: 100% 100%;
}

.MoleHole.level2.withMole {
  background-image: URL('/level2_mole_dark.png');
}

.MoleHole.level2.withMole.whacked.hit {
  background-color: #ceb;
  background-image: URL('/level2_mole_light.png');
}

.MoleHole.withMole.whacked.hit {
  background-color: #ceb;
  background-image: URL('/mole.svg');
}

.MoleHole.whacked.miss {
  background-color: #f87;
}
